<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="viewResolver"
          class="org.springframework.web.servlet.view.UrlBasedViewResolver">
        <property name="viewClass"
                  value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <bean id="customerBean" class="com.sti.bootcamp.servlet.model.Customer"></bean>
    <bean id="accountBean" class="com.sti.bootcamp.servlet.model.Account"></bean>

    <bean id="customerService" class="com.sti.bootcamp.servlet.dao.impl.CustomerDaoWsImpl"></bean>
    <bean id="accountService" class="com.sti.bootcamp.servlet.dao.impl.AccountDaoWsImpl"></bean>
</beans>